:{$PORT} {
    # API Service
    handle /api/* {
        reverse_proxy 0.0.0.0:3000 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
        }
    }
	
	map {path} {redirect-uri} {
		default not_found
	}

	@hasRedir expression `{redirect-uri} != "not_found"`
	redir @hasRedir {redirect-uri}

	respond "That's an unknown short URL ... :(" 404
}
