# TLS Options
{
	auto_https off
}

api.localhost {
	reverse_proxy localhost:3000
}

redir.localhost {
	map {path} {redirect-uri} {
		default not_found
	}

	@hasRedir expression `{redirect-uri} != "not_found"`
	redir @hasRedir {redirect-uri}

	respond "That's an unknown short URL ... :(" 404
}
